extends layout

block content
  div.address(data-item= address.googleId)= address.address
  div.nav
    a(href='/users/addresses') View My Addresses
    a(href='/logout') Logout
  h1= title
  div.form
    div
      input(type='text', name='address', maxlength=200, placeholder='Enter Address')
  div.error.error-hide
  div.container

  script(src="/javascripts/ajax.js")
  script(src="/javascripts/main.js")