body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 30px;

    input {
      border: 1px solid gray;
      border-radius: 3px;
      padding: 5px 3px;
      font-size: 14px;
      width: 220px;
    }

    button {
      padding: 4px 10px;
      font-size: 14px;
    }
  }
}

.error {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}

.error-hide {
  display: none;
}

.container {
  margin-top: 30px;
  width: 900px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:hover {
      background-color: #ececec;
    }

    div {
      width: 20%;
      padding: 5px 0;
    }
  }

  .head {
    font-weight: bold;
  }
}