@keyframes pulse {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes swing {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -1%, 0);
    }
}

.gravity {
    animation-name: swing;
    animation-duration: 2400ms;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-iteration-count: infinite
}