@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import "_variables";
@import "_animation";

body {
  margin: 0;
  background-color: #17182f;
  font-family: 'Roboto Condensed', Verdana, sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;

  canvas {
    display: block;
    vertical-align: bottom;
  }
}

.presentation {
  position: absolute;
  top: 55%;
  left: -700px;
  width: 700px;
  font-size: 76px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Russo One';
  line-height: 90px;
  opacity: 1;
  transition: all 2.5s ease-out;

  @media screen and (max-width:$tablet-width) {
    top: 51%;
    width: 500px;
    font-size: 56px;
    line-height: 70px;
  }
}

.scale-presentation-up {
  left: 10%;
}

.scale-presentation-down {
  opacity: 0;
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s linear;

  @media screen and (max-width:$tablet-width) {
    top: 12px;
  }

  @media screen and (max-width:$old-monitors-width) {
    top: 20px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    margin: auto;
    padding: 0;

    li {
      flex-grow: 1;
      margin: 0 8px;

      @media screen and (max-width:$tablet-width) {
        margin: 0 4px;
      }

      @media screen and (max-width:$old-monitors-width) {
        margin: 0 6px;
      }

      a {
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;

        @media screen and (max-width:$tablet-width) {
          font-size: 14px;
        }

        @media screen and (max-width:$old-monitors-width) {
          font-size: 15px;
        }
      }
    }
  }
}

.menu-hidden {
  display: none;
}

.scale-menu-up {
  opacity: 1
}

.ratio {
  width: 40%;
  padding-top: 50px;
  margin: auto;
  transform: scale(0.005);

  @media screen and (max-width:$tablet-width) {
    width: 38%;
    padding-top: 35px;
  }

  @media screen and (max-width:$old-monitors-width) {
    width: 50%;
    padding-top: 100px;
  }

  .ratio-inner {
    position: relative;
    height: 0;
    border: none;
    padding-top: 100%;
    transition: none;

    .ratio-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
    }

    button {
      position: absolute;
      width: 8px;
      height: 8px;
      margin: 0;
      padding: 0;
      border-radius: 9px;
      border: 3px solid #fff;
      background-color: #000;
      overflow: visible;
      display: block;
      font-size: 100%;
      box-sizing: content-box;
      cursor: pointer;
      outline: 0;
      transform: scale(0.005);
      transition: all 1s linear;

      &:before {
        border: 3px solid #fff;
        z-index: 1;
        background-color: #000;
        border-radius: 9px;
        content: "";
        width: 12px;
        height: 12px;
        top: -5px;
        left: -5px;
        opacity: 0;
        position: absolute;
        animation: pulse 0.75s linear infinite;
      }
    }
  }
}

.scale-button-up {
  transform: scale(1.2) !important;
}

.scale-up {
  transform: scale(1.0);
  transition: transform 7s ease-out;
}

.scale-down {
  transform: scale(0.005);
  transition: transform 4s ease-in;
}

.description {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 19%;
  height: 0;
  padding: 20px 20px 40px;
  overflow: hidden;
  transition: height 0.3s linear;

  @media screen and (max-width:$old-monitors-width) {
    top: 30%;
    right: 1.5%;
  }

  .border {
    padding: 20px 20px 40px;
    background: rgba(175, 184, 255, 0.2);

    @media screen and (max-width:$tablet-width) {
      padding: 20px 20px 30px;
    }

    .text {
      padding-top: 17px;
      border-top: 2px solid beige;
      font-size: 26px;
      color: beige;
      line-height: 32px;

      @media screen and (max-width:$tablet-width) {
        padding-top: 13px;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.description-hide {
  display: none;
}

.description-show {
  display: block;
}

.scale-description-up {
  height: 460px;
}

.facts {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;

  @media screen and (max-width:$tablet-width) {
    height: 65px;
  }

  @media screen and (max-width:$old-monitors-width) {
    height: 100px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    width: 60%;
    margin: auto;
    padding: 0;

    @media screen and (max-width:$old-monitors-width) {
      width: 75%;
    }

    li {
      position: relative;
      flex-grow: 1;

      .fact {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        text-align: center;
        transition: top 0.5s linear;

        .fact-name {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px;
          padding: 4px 0;

          @media screen and (max-width:$tablet-width) {
            font-size: 16px;
          }

          @media screen and (max-width:$old-monitors-width) {
            font-size: 18px;
          }
        }

        .fact-value {
          font-size: 24px;
          padding: 0;

          @media screen and (max-width:$tablet-width) {
            font-size: 20px;
          }

          @media screen and (max-width:$old-monitors-width) {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.scale-fact-up {
  top: 0 !important;
}

.fact-text-white-color {
  color: #ffffff;
}

.fact-text-blue-color {
  color: #5592c6;
}

.fact-text-orange-color {
  color: #ff6f00;
}

.fact-text-red-color {
  color: #f9825d;
}

.planet-name {
  position: absolute;
  top: 55%;
  left: -400px;
  font: normal bold 52px "Russo One";
  color: #ffffff;
  transition: left 0.5s linear;

  @media screen and (max-width:$tablet-width) {
    top: 58%;
    font-size: 42px;
  }

  @media screen and (max-width:$old-monitors-width) {
    top: 62%;
  }
}

.planet-description {
  position: absolute;
  top: 63%;
  left: -400px;
  font-size: 28px;
  color: #ffdfc9;
  max-width: 20%;
  transition: left 0.5s linear;

  @media screen and (max-width:$tablet-width) {
    top: 67%;
    font-size: 22px;
  }

  @media screen and (max-width:$old-monitors-width) {
    top: 69%;
  }
}

.scale-planet-description-up {
  left: 7% !important;

  @media screen and (max-width:$old-monitors-width) {
    left: 5% !important;
  }
}

.sun {
  background-image: url($path-to-img + 'sun.png');
  background-size: 100% calc(100% - 7px);
}

.mercury {
  background-image: url($path-to-img + 'mercury.png');
  background-size: 100% calc(100% - 7px);
}

.venus {
  background-image: url($path-to-img + 'venus.png');
  background-size: 100% 100%;
}

.earth {
  background-image: url($path-to-img + 'earth.png');
  background-size: 100% calc(100% - 7px);
}

.moon {
  background-image: url($path-to-img + 'moon.png');
  background-size: 100% 100%;
}

.mars {
  background-image: url($path-to-img + 'mars.png');
  background-size: 100% 100%;
}

.jupiter {
  background-image: url($path-to-img + 'jupiter.png');
  background-size: 100% calc(100% - 10px);
}

.neptune {
  background-image: url($path-to-img + 'neptune.png');
  background-size: 100% 100%;
}

.saturn {
  background-image: url($path-to-img + 'saturn.png');
  background-size: 100% 100%;
}

.uranus {
  background-image: url($path-to-img + 'uranus.png');
  background-size: 100% 100%;
}

.pluto {
  background-image: url($path-to-img + 'pluto.png');
  background-size: 100% 100%;
}