@import "_animation";

body {
  margin: 0;
  background-color: #17182f;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;

  canvas {
    display: block;
    vertical-align: bottom;
  }
}

.ratio {
  width: 45%;
  padding-top: 100px;
  margin: auto;
  transform: scale(0.005);

  .ratio-inner {
    position: relative;
    height: 0;
    border: none;
    padding-top: 100%;

    .ratio-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
    }
  }
}

.scale-up {
  transform: scale(1.0);
  transition: transform 7s ease-out;
}

.scale-down {
  transform: scale(0.005);
  transition: transform 4s ease-in;
}

.sun {
  background-image: url('../images/sun.png');
  background-size: 100% calc(100% - 7px);
}

.mercury {
  background-image: url('../images/mercury.png');
  background-size: 100% calc(100% - 7px);
}

.venus {
  background-image: url('../images/venus.png');
  background-size: 100% 100%;
}

.earth {
  background-image: url('../images/earth.png');
  background-size: 100% calc(100% - 7px);
}

.mars {
  background-image: url('../images/mars.png');
  background-size: 100% 100%;
}

.jupiter {
  background-image: url('../images/jupiter.png');
  background-size: 100% calc(100% - 10px);
}

.neptune {
  background-image: url('../images/neptune.png');
  background-size: 100% 100%;
}

.pluto {
  background-image: url('../images/pluto.png');
  background-size: 100% 100%;
}