extends layout

block content
  h1= title
  p Welcome to #{title}

  <!-- particles.js container -->
  <div id="particles-js"></div>
  <img src="venus.png" style="position: absolute; top: 150px; right: 100px; height: 80%;">
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  https://www.dkfindout.com/uk/space/solar-system/jupiter/
    https://solarsystem.nasa.gov/planets/earth/overview/