extends layout

block content
  div#particles-js
  div.ratio.scale-down
    div.ratio-inner
      div.ratio-content.sun

  script(src='/javascripts/particles.min.js')
  script(src='/javascripts/stars.js')
  script(src='/javascripts/main.js')