extends layout

block content
  h1= title
  div.form
    div
      input(type='text', name='firstname', maxlength=40, placeholder='Enter first name')
    div
      input(type='text', name='lastname', maxlength=40, placeholder='Enter last name')
    div
      input(type='text', name='birthday', maxlength=10, placeholder='Enter birthday YYYY--MM-DD')
    div
      button Add User
  div.error.error-hide
  div.container
    div.row.head
      div Full Name
      div Birthday
      div Age
      div Created
      div Action

  script(src="/javascripts/main.js")